.body {
    margin: 25px;
}

#movie-quotes-display {
    background-color: white;
}

#recently-uploaded-movies {
    padding: 0px 25px 0px;
    width: 960px;
    height: 600px;
    margin: auto;
}

h2 {
    text-decoration: blueviolet
}

.movie-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 35px;
    text-align: center;
}

.movie-grid-item {
    /* background-color: rgba(249, 99, 47); */
    background-color: rgba(0, 247, 255, 0.658);
    padding: 15px;
    border-radius: 8px
}

.col-gap { 
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 35px;
    text-align: center;
}